ul {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    width: 139px;
}


    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    width: 108px;
    height: 100px;
}

        li a:hover {
            text-decoration: none;
            color: white;
        }

.active {
    background-color: #04AA6D;
}

.mySlides {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.navigation_bar li {
    float: left;
}

    .navigation_bar li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        .navigation_bar li a:hover {
            background-color: #111;
        }

.navigation_bar .active {
    background-color: #111;
}